<p-toast />
<div class="text-center mb-5">
  <div class="text-900 text-3xl font-medium mb-3">
    {{ "auth.reset-password.welcome_message" | translate }}
  </div>
</div>
<div>
  <form [formGroup]="resetPasswordForm">
    <label
      for="password"
      class="block text-900 font-medium text-md mb-2 mt-5"
      >{{ "auth.reset-password.new_password_label" | translate }}</label
    >
    <p-password
      id="password"
      formControlName="password"
      [placeholder]="'auth.reset-password.new_password' | translate"
      [toggleMask]="true"
      [feedback]="false"
      inputStyleClass="w-full p-3 md:w-30rem"
    />
    <small
      *ngIf="
        resetPasswordForm.get('password')?.hasError('required') &&
        resetPasswordForm.get('password')?.dirty
      "
      class="p-error block"
      >{{ "auth.reset-password.password_is_required" | translate }}</small
    >
    <small
      *ngIf="
        resetPasswordForm.get('password')?.hasError('minlength') &&
        resetPasswordForm.get('password')?.dirty
      "
      class="p-error block"
      >{{ "auth.reset-password.password_length" | translate }}</small
    >
    <small
      *ngIf="
        resetPasswordForm.get('password')?.hasError('pattern') &&
        resetPasswordForm.get('password')?.dirty &&
        !resetPasswordForm.get('password')?.hasError('minlength')
      "
      class="p-error block"
      >{{ "auth.reset-password.password_not_strong" | translate }}</small
    >

    <div
      class="flex align-items-center justify-content-between mb-5 mt-5 gap-5"
    >
      <a
        class="font-medium no-underline ml-2 text-right cursor-pointer"
        style="color: var(--primary-color)"
        [routerLink]="['/auth/login']"
        >{{ "auth.reset-password.back_to_login" | translate }}</a
      >
    </div>

    <button
      pButton
      pRipple
      [label]="'auth.reset-password.submit' | translate"
      class="w-full p-3 mt-5"
      [disabled]="resetPasswordForm.invalid"
      [loading]="(isLoading | async) ?? false"
      formSubmit
      (click)="resetPassword()"
      type="submit"
    ></button>
  </form>
</div>
