<p-toast />
<p-confirmDialog />
@if ((hasReadPermission | async) === false) {
  <app-access-denied />
} @else {
  <p-table
    #dt
    [value]="(debugFiles | async) ?? []"
    dataKey="debugFileId"
    [rowHover]="true"
    [rows]="10"
    [(selection)]="selectedDebugFiles"
    [showCurrentPageReport]="enablePagination"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="(isLoadingDebugFiles | async) === true"
    [paginator]="enablePagination"
    [currentPageReportTemplate]="'table.pagination_template' | translate"
    [filterDelay]="0"
    [globalFilterFields]="['debugFileId', 'type']"
  >
    <ng-template
      pTemplate="caption"
      *ngIf="enableGlobalSearch || enableAddAction || enableRemoveAction"
    >
      <div class="table-header w-full flex gap-4">
        <span class="p-input-icon-left flex-grow-1">
          <i class="pi pi-search"></i>
          <input
            class="w-full"
            pInputText
            type="text"
            (input)="applyFilterGlobal($event, 'contains')"
            [placeholder]="'table.search' | translate"
          />
        </span>
        <p-button
          *ngIf="enableAddAction"
          pRipple
          styleClass=""
          severity="success"
          icon="pi pi-plus"
          (onClick)="showAddDialog()"
          [label]="'debug-files-table.new_file' | translate"
          iconPos="left"
        />
        <p-button
          *ngIf="enableAddAction"
          pRipple
          styleClass=""
          severity="danger"
          [disabled]="!selectedDebugFiles || selectedDebugFiles.length === 0"
          icon="pi pi-trash"
          (onClick)="showDeleteSelectionConfirmation($event)"
          [label]="'debug-files-table.delete_files' | translate"
          iconPos="left"
        />
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="id" style="width: 14rem">
          <div class="flex justify-content-between align-items-center">
            {{ "debug-files-table.id" | translate }}
            <p-sortIcon field="debugFileId" *ngIf="enableSorting" />
            <p-columnFilter
              type="text"
              field="debugFileId"
              display="menu"
              class="ml-auto"
              *ngIf="enableFiltering"
            />
          </div>
        </th>
        <th pSortableColumn="type" style="min-width: 14rem">
          <div class="flex justify-content-between align-items-center">
            {{ "debug-files-table.type" | translate }}
            <p-sortIcon field="type" *ngIf="enableSorting" />
            <p-columnFilter
              type="text"
              field="type"
              display="menu"
              class="ml-auto"
              *ngIf="enableFiltering"
            />
          </div>
        </th>
        <th pSortableColumn="createdAt" style="min-width: 14rem">
          <div class="flex justify-content-between align-items-center">
            {{ "debug-files-table.created_at" | translate }}
            <p-sortIcon field="createdAt" *ngIf="enableSorting" />
            <p-columnFilter
              type="date"
              field="createdAt"
              display="menu"
              class="ml-auto"
              *ngIf="enableFiltering"
            />
          </div>
        </th>
        <th
          style="width: 20rem"
          *ngIf="enableRemoveAction || (hasReadPermission | async) === true"
        >
          <div class="flex justify-content-center align-items-center">
            {{ "debug-files-table.actions" | translate }}
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-debugFile>
      <tr class="p-selectable-row">
        <td>
          <p-tableCheckbox [value]="debugFile"></p-tableCheckbox>
        </td>
        <td>
          {{ debugFile.debugFileId }}
        </td>
        <td>
          {{ debugFile.type }}
        </td>
        <td>
          {{ debugFile.createdAt | date: "MMM d, yyyy - h:mm:ss a" }} (UTC)
        </td>
        <td
          style="text-align: center"
          *ngIf="enableRemoveAction || (hasReadPermission | async) === true"
        >
          <div class="flex gap-4">
            <p-button
              pRipple
              [disabled]="!enableRemoveAction"
              icon="pi pi-download"
              [rounded]="true"
              iconPos="left"
              [loading]="(isLoadingRemoveDebugFiles | async) ?? false"
              (onClick)="downloadFile(debugFile.file, debugFile.fileUrl)"
            />
            <p-button
              pRipple
              [disabled]="!enableRemoveAction"
              severity="danger"
              icon="pi pi-minus"
              [label]="'debug-files-table.delete_file' | translate"
              iconPos="left"
              [loading]="(isLoadingRemoveDebugFiles | async) ?? false"
              (onClick)="showDeleteConfirmation(debugFile.debugFileId, $event)"
            />
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">
          {{ "debug-files-table.no_files_found" | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
}

<p-dialog
  [header]="'debug-files-table.new_file' | translate"
  [(visible)]="isAddNewDialogVisible"
  [style]="{ width: '40vw' }"
  [modal]="true"
>
  <div class="flex py-2 justify-content-center">
    <form [formGroup]="createDebugFileForm" class="w-full">
      <div class="w-full">
        <label
          for="type"
          class="block text-900 font-medium text-md mb-2 mt-2"
          >{{ "debug-files-table.type_label" | translate }}</label
        >
        <p-dropdown
          appendTo="body"
          [options]="types"
          formControlName="type"
          [placeholder]="'debug-files-table.select_type' | translate"
          styleClass="w-full"
        ></p-dropdown>
        <small
          *ngIf="
            createDebugFileForm.get('type')?.hasError('required') &&
            createDebugFileForm.get('type')?.dirty
          "
          class="p-error block"
          >{{ "debug-files-table.type_is_required" | translate }}</small
        >

        <label
          for="file"
          class="block text-900 font-medium text-md mb-2 mt-2"
          >{{ "debug-files-table.file_label" | translate }}</label
        >
        <input
          type="file"
          class="w-full"
          pInputText
          (change)="onFilePicked($event)"
          formControlName="file"
          [placeholder]="'debug-files-table.file' | translate"
        />
        <small
          *ngIf="
            createDebugFileForm.get('file')?.hasError('required') &&
            createDebugFileForm.get('file')?.dirty
          "
          class="p-error block"
          >{{ "debug-files-table.file_is_required" | translate }}</small
        >

        <div class="flex w-full justify-content-end mt-5">
          <p-button
            pRipple
            [label]="'debug-files-table.cancel' | translate"
            [outlined]="true"
            icon="pi pi-times"
            iconPos="left"
            severity="danger"
            [loading]="(isLoadingCreateNew | async) ?? false"
            (onClick)="isAddNewDialogVisible = !isAddNewDialogVisible"
          />
          <p-button
            pRipple
            styleClass="ml-4"
            type="submit"
            [label]="'debug-files-table.create_new_file' | translate"
            [outlined]="true"
            icon="pi pi-check"
            iconPos="left"
            [loading]="(isLoadingCreateNew | async) ?? false"
            (onClick)="createNewDebugFile()"
            [disabled]="createDebugFileForm.invalid"
          />
        </div>
      </div>
    </form>
  </div>
</p-dialog>
