
:host ::ng-deep .panel-danger .p-panel-header { 
    background: #ff3d32 !important; 
    color: white !important; 
} 
:host ::ng-deep .panel-danger .p-panel-header  
.p-panel-header-icon { 
    color: white !important; 
} 