<p-toast />
<div class="text-center mb-5">
  <div class="text-900 text-3xl font-medium mb-3">
    {{ "auth.invitation.welcome_message" | translate }}
  </div>
  <span class="text-600 font-medium">{{
    "auth.invitation.welcome_description" | translate
  }}</span>
</div>
<div>
  <form [formGroup]="registerForm">
    <label
      for="username"
      class="block text-900 font-medium text-md mb-2 mt-4"
      >{{ "auth.invitation.username_label" | translate }}</label
    >
    <span class="p-input-icon-right">
      @if (isUsernameTaken === null) {
        <i class="pi pi-user"></i>
      } @else if (!isUsernameTaken) {
        <i class="pi pi-check text-green-500"></i>
      } @else {
        <i class="pi pi-times text-red-500"></i>
      }
      <input
        #username
        id="username"
        type="text"
        formControlName="username"
        [placeholder]="'auth.invitation.username' | translate"
        pInputText
        class="w-full md:w-30rem"
        style="padding: 1rem"
      />
    </span>
    <small
      *ngIf="
        registerForm.get('username')?.hasError('required') &&
        registerForm.get('username')?.dirty
      "
      class="p-error block"
      >{{ "auth.invitation.username_is_required" | translate }}</small
    >
    <small
      *ngIf="
        registerForm.get('username')?.hasError('minlength') &&
        registerForm.get('username')?.dirty
      "
      class="p-error block"
      >{{ "auth.invitation.username_length" | translate }}</small
    >

    <label
      for="password"
      class="block text-900 font-medium text-md mb-2 mt-4"
      >{{ "auth.invitation.password_label" | translate }}</label
    >
    <p-password
      id="password"
      formControlName="password"
      [placeholder]="'auth.invitation.password' | translate"
      [toggleMask]="true"
      [feedback]="false"
      inputStyleClass="w-full p-3 md:w-30rem"
    />
    <small
      *ngIf="
        registerForm.get('password')?.hasError('minlength') &&
        registerForm.get('password')?.dirty
      "
      class="p-error block"
      >{{ "auth.invitation.password_length" | translate }}</small
    >
    <small
      *ngIf="
        registerForm.get('password')?.hasError('pattern') &&
        registerForm.get('password')?.dirty &&
        !registerForm.get('password')?.hasError('minlength')
      "
      class="p-error block"
      >{{ "auth.invitation.password_not_strong" | translate }}</small
    >

    <label for="email" class="block text-900 font-medium text-md mb-2 mt-4">{{
      "auth.invitation.email_label" | translate
    }}</label>
    <span class="p-input-icon-right">
      <i class="pi pi-at"></i>
      <input
        #username
        id="email"
        type="email"
        formControlName="email"
        [placeholder]="'auth.invitation.email' | translate"
        pInputText
        class="w-full md:w-30rem"
        style="padding: 1rem"
      />
    </span>
    <small
      *ngIf="
        registerForm.get('email')?.hasError('required') &&
        registerForm.get('email')?.dirty
      "
      class="p-error block"
      >{{ "auth.invitation.email_is_required" | translate }}</small
    >

    <label
      for="firstName"
      class="block text-900 font-medium text-md mb-2 mt-4"
      >{{ "auth.invitation.first_name_label" | translate }}</label
    >
    <input
      #username
      id="firstName"
      type="text"
      formControlName="firstName"
      [placeholder]="'auth.invitation.first_name' | translate"
      pInputText
      class="w-full md:w-30rem"
      style="padding: 1rem"
    />
    <small
      *ngIf="
        registerForm.get('firstName')?.hasError('required') &&
        registerForm.get('firstName')?.dirty
      "
      class="p-error block"
      >{{ "auth.invitation.first_name_is_required" | translate }}</small
    >

    <label
      for="lastName"
      class="block text-900 font-medium text-md mb-2 mt-4"
      >{{ "auth.invitation.last_name_label" | translate }}</label
    >
    <input
      #username
      id="lastName"
      type="text"
      formControlName="lastName"
      [placeholder]="'auth.invitation.last_name' | translate"
      pInputText
      class="w-full md:w-30rem"
      style="padding: 1rem"
    />
    <small
      *ngIf="
        registerForm.get('lastName')?.hasError('required') &&
        registerForm.get('lastName')?.dirty
      "
      class="p-error block"
      >{{ "auth.invitation.last_name_is_required" | translate }}</small
    >

    <div
      class="flex align-items-center justify-content-between mb-2 mt-4 gap-5"
    >
      <a
        class="font-medium no-underline ml-2 text-right cursor-pointer"
        style="color: var(--primary-color)"
        [routerLink]="['/auth/login']"
        >{{ "auth.invitation.back_to_login" | translate }}</a
      >
    </div>

    <button
      pButton
      pRipple
      [label]="'auth.invitation.register' | translate"
      class="w-full p-3 mt-4"
      [disabled]="registerForm.invalid"
      [loading]="(isLoading | async) ?? false"
      (click)="register()"
      type="submit"
    ></button>
  </form>
</div>
