<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="/dashboard">
    <img src="assets/images/log-hub-no-bg.png" alt="logo" />
    <span>{{ getAppName() }}</span>
  </a>

  <button
    pRipple
    #menubutton
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>

  <button
    pRipple
    #topbarmenubutton
    class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()"
  >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }"
  >
    <div
      #topbarmenu
      class="layout-topbar-menu"
      [ngClass]="{
        'layout-topbar-menu-mobile-active':
          layoutService.state.profileSidebarVisible
      }"
    >
      <p-dropdown
        optionLabel="label"
        [options]="languages"
        [(ngModel)]="selectedLanguage"
        [filter]="true"
        filterBy="label"
        [showClear]="true"
        (onChange)="changeLanguage($event.value)"
        placeholder="{{ 'Language' | translate }}"
      >
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selectedLanguage">
            <img
              src="assets/images/flag_placeholder.png"
              [class]="'flag flag-' + selectedLanguage.flag.toLowerCase()"
              style="width: 18px"
              alt="flag-image-placeholder"
            />
            <div>{{ selectedLanguage.label }}</div>
          </div>
        </ng-template>
        <ng-template let-language pTemplate="item">
          <div class="flex align-items-center gap-2">
            <img
              src="assets/images/flag_placeholder.png"
              [class]="'flag flag-' + language.flag.toLowerCase()"
              style="width: 18px"
              alt="flag-image"
            />
            <div>{{ language.label }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <button class="p-link layout-topbar-button" (click)="logout()" pRipple>
        <i class="pi pi-power-off"></i>
        <span>Logout</span>
      </button>
    </div>
  </div>
</div>
