<p-toast/>
<div class="text-center mb-5">
  <div class="text-900 text-3xl font-medium mb-3">
    {{ "auth.login.welcome_message" | translate }}{{ getApplicationName() }},
  </div>
  <span class="text-600 font-medium">{{
    "auth.login.sign_in_to_continue" | translate
  }}</span>
</div>
<div>
  <form [formGroup]="loginForm">
    <label for="username" class="block text-900 text-md font-medium mb-2">{{
      "auth.login.username_label" | translate
    }}</label>
    <input
      id="username"
      type="text"
      formControlName="username"
      [placeholder]="'auth.login.username' | translate"
      pInputText
      class="w-full md:w-30rem"
      style="padding: 1rem"
    />
    <small
      *ngIf="
        loginForm.get('username')?.hasError('required') &&
        loginForm.get('username')?.dirty
      "
      class="p-error block"
      >{{ "auth.login.username_is_required" | translate }}</small
    >
    <small
      *ngIf="
        loginForm.get('username')?.hasError('minlength') &&
        loginForm.get('username')?.dirty
      "
      class="p-error block"
      >{{ "auth.login.username_length" | translate }}</small
    >

    <label for="password" class="block text-900 font-medium text-md mb-2 mt-5">{{
      "auth.login.password_label" | translate
    }}</label>
    <p-password
      id="password"
      formControlName="password"
      [placeholder]="'auth.login.password' | translate"
      [toggleMask]="true"
      [feedback]="false"
      inputStyleClass="w-full p-3 md:w-30rem"
    />
    <small
      *ngIf="
        loginForm.get('password')?.hasError('required') &&
        loginForm.get('password')?.dirty
      "
      class="p-error block"
      >{{ "auth.login.password_is_required" | translate }}</small
    >
    <small
      *ngIf="
        loginForm.get('password')?.hasError('minlength') &&
        loginForm.get('password')?.dirty
      "
      class="p-error block"
      >{{ "auth.login.password_length" | translate }}</small
    >

    <div class="flex align-items-center justify-content-between mb-5 mt-5 gap-5">
      <a
        class="font-medium no-underline ml-2 text-right cursor-pointer"
        style="color: var(--primary-color)"
        [routerLink]="['/auth/forgot-password']"
        >{{ "auth.login.forgot_password" | translate }}</a
      >
      <a
        *ngIf="isRegistrationEnabled()"
        class="font-medium no-underline ml-2 text-right cursor-pointer"
        style="color: var(--primary-color)"
        [routerLink]="['/auth/register']"
        >{{ "auth.login.register" | translate }}</a
      >
    </div>

    <button
      pButton
      pRipple
      [label]="'auth.login.sign_in_label' | translate"
      class="w-full p-3 mt-5"
      [disabled]="loginForm.invalid"
      [loading]="(isLoading | async) ?? false"
      formSu
      (click)="login()"
      type="submit"
    ></button>
  </form>
</div>
