<div
  class="surface-ground flex align-items-center justify-content-center h-full w-full overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <img
      src="assets/images/log-hub-no-bg.png"
      alt="Sakai logo"
      class="mb-5 w-6rem flex-shrink-0"
    />
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          rgba(33, 150, 243, 0.4) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center"
        style="border-radius: 53px"
      >
        <span class="text-blue-500 font-bold text-3xl">404</span>
        <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">
          {{ "not-found.not_found" | translate }}
        </h1>
        <div class="text-600 mb-5">
          {{ "not-found.not_available" | translate }}
        </div>
        <p-button
          pRipple
          icon="pi pi-arrow-left"
          [label]="'not-found.go_to_dashboard' | translate"
          severity="info"
          [text]="true"
          [plain]="true"
          [routerLink]="['/']"
        ></p-button>
      </div>
    </div>
  </div>
</div>
