<p-toast />
<div class="text-center mb-5">
  <div class="text-900 text-3xl font-medium mb-3">
    {{ "auth.forgot-password.welcome_message" | translate }}
  </div>
  <span class="text-600 font-medium">{{
    "auth.forgot-password.welcome_description" | translate
  }}</span>
</div>
<div>
  <form [formGroup]="forgotPasswordForm">
    <label
      for="username"
      class="block text-900 font-medium text-md mb-2 mt-5"
      >{{ "auth.login.username_label" | translate }}</label
    >
    <span class="p-input-icon-right">
      @if(isUsernameTaken == null) {
      <i class="pi pi-user"></i>
      } @else if (isUsernameTaken) {
      <i class="pi pi-check text-green-500"></i>
      } @else {
      <i class="pi pi-times text-red-500"></i>
      }
      <input
        #username
        id="username"
        type="text"
        formControlName="username"
        [placeholder]="'auth.login.username' | translate"
        pInputText
        class="w-full md:w-30rem"
        style="padding: 1rem"
      />
    </span>
    <small
      *ngIf="
        forgotPasswordForm.get('username')?.hasError('required') &&
        forgotPasswordForm.get('username')?.dirty
      "
      class="p-error block"
      >{{ "auth.forgot-password.username_is_required" | translate }}</small
    >
    <small
      *ngIf="
        forgotPasswordForm.get('username')?.hasError('minlength') &&
        forgotPasswordForm.get('username')?.dirty
      "
      class="p-error block"
      >{{ "auth.forgot-password.username_length" | translate }}</small
    >

    <div
      class="flex align-items-center justify-content-between mb-5 mt-5 gap-5"
    >
      <a
        class="font-medium no-underline ml-2 text-right cursor-pointer"
        style="color: var(--primary-color)"
        [routerLink]="['/auth/login']"
        >{{ "auth.forgot-password.back_to_login" | translate }}</a
      >
    </div>

    <button
      pButton
      pRipple
      [label]="'auth.forgot-password.submit' | translate"
      class="w-full p-3 mt-5"
      [disabled]="forgotPasswordForm.invalid"
      [loading]="(isLoading | async) ?? false"
      (click)="forgotPassword()"
      type="submit"
    ></button>
  </form>
</div>
